.roundImage {
    border-radius: 50%;
    margin: 30px auto;
}

.anim {
    width: 200px;
    position: relative;
}

.anim div[aria-label='animation'] {
    position: absolute;
    right: 10px;
    top: 140px;
    z-index: 10;
}
