:root {
  --primary-blue: #1890ff;
}

.App {
  text-align: center;
}

.ant-table-wrapper {
  width: 100%;
}

.ant-table-row:hover {
  cursor: pointer;
}

.appHeader {
  background-color: var(--primary-blue);
  min-height: max-content;
  width: 100%;
  overflow: auto;
}

.backTop {
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 4px;
  background-color: var(--primary-blue);
  color: white;
  text-align: center;
  font-size: 14px;
  z-index: 100000;
}

.appHeader h1 {
  color: white;
}

.ant-image {
  margin: auto;
}